<!DOCTYPE html>
<html>
  <head>
    <title>TypeScript Greeter</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='comm/img/icon-32x32.png') }}" type="image/x-icon" />
  </head>
  <body>
    <script src="{{ url_for('static', filename='avatar/js/greeter.js') }}"></script>
    <script type="text/javascript">
      const chat_event = new EventSource('/avatar/chat');
      let count = 0;
      chat_event.onmessage = (event) => {
        const event_data = JSON.parse(event.data);
        console.log(event_data);
        if (count++ > 10) {
          chat_event.close();
        }
      }
      /*
      const message_event = new EventSource("{{ url_for('sse.stream') }}");
      message_event.addEventListener('greeting', (event) => {
        const event_data = JSON.parse(event.data);
        console.log(event_data);
      })
      */
    </script>
  </body>
</html>