<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>THREE.js</title>
    <style>
        body {
            margin: 0;
        }
    </style>
    <script type="importmap">
    {
        "imports": {
            "query":         "{{ url_for('statuc', filename='common/js/jquery-3.7.1.min.map' )}}"
            "three":         "https://unpkg.com/three@0.161.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
        }
    }
    </script>
</head>

<body>
    <script type="module" src="{{ url_for('static', filename='avatar/js/main.js') }}"></script>
</body>

</html>