<!DOCTYPE html>
<html lang="en">

<head>
    <title>EyesYoga</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='comm/img/icon-32x32.png') }}" type="image/x-icon" />
    <link  href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link  href="{{ url_for('static', filename='avatar/css/avatar.css') }}" rel="stylesheet">
</head>

<body>
    <header></header>
    <main>
        <img class="avatar_img" src="https://mdn.alipayobjects.com/pa_avatarmng/uri/file/as/avatarmng/1701251770407/4401426_1701251770407?af_fileName=2900229.gif">
    </main>
    <footer></footer>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>

</html>