**/.idea
**/.DS_Store
**/.ipynb_checkpoints
**/.mypy_cache
**/.vscode
**/ctp-build
**/build
**/data
**/core
**/conf
**/cert
**/log
**/bin
**/lib
**/obj
**/tmp
**/mod

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

**/strategy_dev

dist/
build/
*.egg-info/
*.log
*.con
*.mod
*.gz
*.so
*.o

